<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>${local.nexus.mirror}</url>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>releases</id>
      <username>${local.nexus.releases.username}</username>
      <password>${local.nexus.releases.password}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>${local.nexus.snapshots.username}</username>
      <password>${local.nexus.snapshots.password}</password>
    </server>
    <server>
      <id>nexus</id>
      <username>${local.nexus.mirror.username}</username>
      <password>${local.nexus.mirror.password}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>distributionManagementUrl</id>
      <properties>
        <distributionManagement-release-url>${local.nexus.releases.url}</distributionManagement-release-url>
        <distributionManagement-snapshot-url>${local.nexus.snapshots.url}</distributionManagement-snapshot-url>
      </properties>
    </profile>
    <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <sonar.host.url>${local.sonar.url}</sonar.host.url>
      </properties>
    </profile>
</profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
    <activeProfile>distributionManagementUrl</activeProfile>
    <activeProfile>sonar</activeProfile>
  </activeProfiles>
</settings>
